/*Style Sheet For Webpage*/

/*Styling webpage body*/
body, html{
  background-color: #434343;
  height: 100%;
  margin: 0;
  color: red;
  font-family: Arial;
}

/*Styling header 1*/
h1{
  text-align: center;
}

/*Styling paragraph*/
p{
  text-align: center;
}

/************************Styling tabs: Start************************/
.tablink{
background-color: #434343;/* #2c3840;*/
 color: #e8a90e;
 float: left;
 border: none;
 outline: none;
 cursor: pointer;
 padding: 14px 16px;
 font-size: 17px;
 width: auto;
}

/*Adding hover effetc to tabs*/
.tablink:hover{
  color: #886308;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: #e8a90e;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {
  text-align: center;
}
#About {
  text-align: center;
}
#Feedback {
  text-align: center;
}
#Contact {
  text-align: center;
}
/************************Styling tabs: end************************/


/*Styling link*/
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
